<h1>Welcome to OMB</h1>

<div class="content">

	<section>

		<p>This is a list of all your accounts:</p>

		<table mat-table [dataSource]="accounts" class="mat-elevation-z8">

			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef>ID</th>
				<td mat-cell *matCellDef="let account">{{account.id}}</td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let account">{{account.name}}</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</section>

	<section>
		<omb-deposit [accounts]="accounts"></omb-deposit>
	</section>
</div>