:host {
  display: flex;
  flex-direction: column;

  border: thick double #a4b819;
  padding: 1.5rem;
}

form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  * {
    width: 100%;
  }
}

// .full-width {
//   width: 100%;
// }
