<p>Select one of your accounts to deposit money into it.</p>

<form>
	<mat-form-field>
		<mat-label>Account</mat-label>
		<mat-select [(value)]="selectedAccountId">
			<mat-option *ngFor="let acc of accounts" [value]="acc.id">
				{{acc.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field class="full-width">
		<input matInput placeholder="Amount in dollars" type="number" [(ngModel)]="amount"
			[ngModelOptions]="{standalone: true}">
	</mat-form-field>
</form>

<button mat-raised-button color="accent" (click)="deposit()">
	<mat-icon>attach_money</mat-icon>
	DEPOSIT
</button>