<mat-toolbar color="primary">

	<img class="logo" src="assets/logo.svg">

	<span class="title">My OMB</span>
	<span class="spacer"></span>
	<button mat-icon-button>
		<mat-icon>account_balance</mat-icon>
	</button>
	<button mat-icon-button>
		<mat-icon>account_balance_wallet</mat-icon>
	</button>

</mat-toolbar>